@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Toastify__toast-container .Toastify__toast {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 0.05);
  }